MYSQL_USERNAME="mysql_username"

MYSQL_PASSWORD="mysql_password"

DBNAME="db_name"

MYSQL_HOST_ADDR="mysql_host_address"

MYSQL_HOST_PORT="mysql_port"

JWT_ACCESS_SECRET="jwt_secret_key" 

JWT_REFRESH_SECRET="jwt_refresh_key" 

REDIS_DSN="redis_dsn" 

REDIS_PASSWORD="redis_password" 

APP_ENV="dev" 
